<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="ROOTINSTALL" Name="SQLInstaller" />
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
				<Directory Id="RootShortcut" Name="SQL Installer.NET" />
			</Directory>
		</Directory>
		<DirectoryRef Id="ROOTINSTALL" FileSource="$(var.SQLInstaller.Core.TargetDir)">
			<Component Id="SQLInstaller.Core.dll" Guid="{807BEB2A-AC36-4f90-9126-074B5C10C2A1}">
				<File Id="SQLInstaller.Core.dll" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="ROOTINSTALL" FileSource="$(var.SQLInstaller.Console.TargetDir)">
			<Component Id="SqlInstaller.exe" Guid="{E4A5EE25-AFC4-4409-945A-04262EF63492}">
				<File Id="SqlInstaller.exe"/>
			</Component>
			<Component Id="SQLInstaller.reg" Guid="{A082D4E0-E238-43bd-915A-54734039DFCE}">
				<RegistryKey Id="SQLInstaller.regkey" Root="HKLM" Key="SOFTWARE\JHOB Technologies\SQLInstaller" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="SQLInstaller.regval" Name="Path" Value="[ROOTINSTALL]SQLInstaller.exe" Type="string" />
				</RegistryKey>
				<Environment Id="SQLInstaller.setpath" Action="set" Name="PATH" Part="last" System="yes" Value="[ROOTINSTALL]" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="ROOTINSTALL" FileSource="$(var.SQLInstaller.Windows.TargetDir)">
			<Component Id="SqlInstallerWin.exe" Guid="{A7D34CEE-58EC-44f2-9ACF-570AD430F8FE}">
				<File Id="SqlInstallerWin.exe"/>
				<Shortcut Id="SqlInstallerWin.exe" Directory="RootShortcut" Name="SQL Installer.NET Wizard" Advertise="yes" Icon="Install.Icon.exe" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="ROOTINSTALL" FileSource="$(env.ProgramFiles)\Microsoft SQL Server\90\SDK\Assemblies">
			<Component Id="Microsoft.SqlServer.SMO" Guid="{CB5E92F6-2EB2-4684-ABA7-34642EC5CF13}">
				<File Id="Microsoft.SqlServer.RegSvrEnum.dll"/>
				<File Id="Microsoft.SqlServer.SmoEnum.dll"/>
				<File Id="Microsoft.SqlServer.SqlEnum.dll"/>
				<File Id="Microsoft.SqlServer.Smo.dll"/>
				<File Id="Microsoft.SqlServer.ServiceBrokerEnum.dll"/>
				<File Id="Microsoft.SqlServer.ConnectionInfo.dll"/>
				<File Id="Microsoft.SqlServer.WmiEnum.dll"/>
				<File Id="Microsoft.SqlServer.Rmo.dll"/>
				<File Id="Microsoft.SqlServer.BatchParser.dll"/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="Binaries">
			<ComponentRef Id="Microsoft.SqlServer.SMO"/>
			<ComponentRef Id="SqlInstaller.exe"/>
			<ComponentRef Id="SqlInstallerWin.exe"/>
			<ComponentRef Id="SQLInstaller.Core.dll"/>
			<ComponentRef Id="SQLInstaller.reg"/>
		</ComponentGroup>
	</Fragment>
</Wix>
