<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Patch
        AllowRemoval="no"
        Manufacturer="My Company"
        MoreInfoURL="http://www.mycompany.com/"
        DisplayName="Version 1.0.2"
        Description="Upgrade to V1.0.2"
        Classification="Update"
		MinorUpdateTargetRTM="yes"
        >
		<OptimizeCustomActions SkipAssignment="no" SkipImmediate="no" />
		<Media Id="5000" Cabinet="RTM.cab">
			<PatchBaseline Id="RTM"/>
		</Media>
		<PatchFamily Id="Scripts" Version="1.0.2.0" Supersede="yes">
			<ComponentRef Id="Scripts.Install"/>
			<ComponentRef Id="Scripts.Upgrade.Ver101"/>
			<ComponentRef Id="Scripts.Upgrade.Ver102"/>
			<!--<ComponentRef Id="Scripts.Upgrade.Ver103"/>-->
		</PatchFamily>
	</Patch>
</Wix>

