<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="Ver103">
		<DirectoryRef Id="UPGRADE" FileSource="$(var.SolutionDir)SQLInstaller.Sample\Scripts\Upgrade">
			<Directory Id="Ver103" Name="1.0.3" FileSource="$(var.SolutionDir)SQLInstaller.Sample\Scripts\Upgrade\1.0.3">
				<Component Id="Scripts.Upgrade.Ver103" Guid="{CD9D4039-C458-464a-9C50-E41625250EA1}">
					<File Id="Ver103.ChangeLog.txt" Name="ChangeLog.txt" KeyPath="yes"/>
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
