ALTER TABLE Orders  WITH NOCHECK ADD  CONSTRAINT FK_Orders_Customers FOREIGN KEY(CustomerID)
REFERENCES Customers (CustomerID)
GO
ALTER TABLE Orders CHECK CONSTRAINT FK_Orders_Customers
GO
ALTER TABLE Orders  WITH NOCHECK ADD  CONSTRAINT FK_Orders_Employees FOREIGN KEY(EmployeeID)
REFERENCES Employees (EmployeeID)
GO
ALTER TABLE Orders CHECK CONSTRAINT FK_Orders_Employees
GO
ALTER TABLE Orders  WITH NOCHECK ADD  CONSTRAINT FK_Orders_Shippers FOREIGN KEY(ShipVia)
REFERENCES Shippers (ShipperID)
GO
ALTER TABLE Orders CHECK CONSTRAINT FK_Orders_Shippers
GO
