<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- Allow runtime usage data to be collected by external webservice. Set to false to disable. -->
    <add key="OptIn" value="true"/>
  </appSettings>
</configuration>
