CREATE PROCEDURE EmployeeSalesByCountry 
(
	@Beginning_Date DateTime, 
	@Ending_Date DateTime 
)
AS

SELECT Employees.Country, Employees.LastName, Employees.FirstName, Orders.ShippedDate, Orders.OrderID, OrderSubtotals.Subtotal AS SaleAmount
FROM Employees INNER JOIN 
	(Orders INNER JOIN OrderSubtotals ON Orders.OrderID = OrderSubtotals.OrderID) 
	ON Employees.EmployeeID = Orders.EmployeeID
WHERE Orders.ShippedDate Between @Beginning_Date And @Ending_Date
GO
